
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');




/* Alguns valores de propriedades não tem unidade de medida.
Exemplo: line-height, aspect-ratio, font-weight*/

* {
    margin: 0;
    padding: 0;
    border: nome;
    box-sizing: border-box; /* box-sizing: como o css calcula o tamanho dos elementos */

}

:root { /* root-> elemento raiz (html), mais alta hierarquia*/
    font-size: 16px; /* tamanho da base do rem*/
    scroll-behavior: smooth; /* comportamento da rolagem: suave*/
    --cor-primaria-texto: #353535;
                             --padding-padrao-secao: 40px;
    --cor-fundo-tags: #bebebe;

    /*Tema: light */

    --plano-fundo: #ffffff;
    --cor-primaria-texto:  #353535;
    --cor-fundo-tags: #bebebe;

}

[ data-tema="dark"] {
    --plano-fundo: #353535;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
    --cor-fundo-apresentacao: #7f7ae8;
    --cor-fundo-formacao: #7f7a95;
    --cor-fundo-academia: #caf6ca;
    --cor-fundo-experienciaProfissional: #fff890;
    --cor-fundo-competenciaTecnica: #f7c7dc;
    --cor-fundo-softSkill: #7eafab;
    --cor-fundo-idiomas: #a586a5;
    --cor-fundo-destaques: #e29191;
    --cor-fundo-tecnologias: #3e3ec3;

}

    
[data-tema="light"] {
    --plano-fundo: #353535;
    --cor-primaria-texto: #ffffff;
    --cor-fundo-tags: #353535;
    --cor-fundo-apresentacao: #7f7447;
    --cor-fundo-formacao: #54449b;
    --cor-fundo-academia: #2d6635;
    --cor-fundo-experienciaProfissional: #f23b3b;
    --cor-fundo-competenciaTecnica: #c65c10;
    --cor-fundo-softskill: #b3319f;
    --cor-fundo-idiomas: #68623d;
    --cor-fundo-destaques: #752626;
    --cor-fundo-tecnologias: #20205c;


}



body {
    background-color:  var(--plano-fundo);
    width: 80vw; /* 80% da viewport width*/
    margin: auto; /* criar margem automatica*/
    font-size: 20px; /*o padrao é 16px*/
    font-family: "Oswald", sans-serif;
    font-weight: 100;

}

.nome-curriculo { 
    background-color: rgb(220, 216, 212);
    width: 70vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem; /*shorthand*/
    font-weight: 30;
    color: var (--cor-primaria-texto)
}

section {
    padding: 40px;
    background-color: rgb(220, 216, 212);
}
#apresentacao {
    background-color: rgb(220, 216, 212);
    width: 70vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem; /*shorthand*/
    font-weight: 30;


}
#formacao {
    background-color: rgb(220, 216, 212);
    width: 70vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem; /*shorthand*/
    font-weight: 30;
}
#titulo-secao {
    background-color:rgb(220, 216, 212) ;
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    font-family: "Anta" , sans-serif;
    color: dimgray;
    font-size: 2rem;
    margin: 1rem;
    padding: 1 rem;
    border: 0rem;
    padding: 1rem;
} 
p {
    line-height: 1,5; /*altura da linha: 1,5x o tamanho padrão*/
    margin: 1rem; /* valores: coma-baixo esquerda-direita*/
    
}
h2{
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    font-family: "Anta" , sans-serif;
    font-weight: 300;
    color:  rgb(220, 216, 212);
    /* text-shadow: 2px 2px 2px dimgray; /*deslocamentox deslocamentoy espalhamento cor*/
    font-size: 1,5rem;
    margin: 1rem;
    padding: 1rem;
    border:  1rem;    
    padding: 1rem;

}

.lista-tags li {
    display: inline block;
    background-color: #e6dfdf;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    color: var(--cor-primaria-texto);
}
section#experiencia Profissional {
    background-color:  rgb(220, 216, 212);
    width: 70vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem; /*shorthand*/
    font-weight: 30;
    display: flex;
    color: var(--cor-primaria-texto);
}

#tecnologias {
    display: flex; /* exixte varias caixa flexivel */
justify-content: space-between; /* alinha o conteúdo no eixo principal */

}
/* Combinadores*/

article h1 { /* h1 descendente de article */
    font-size: 2rem;
    font-weight: bold; /* bold = 700 */
    margin: 0 0 1rem 0;
    color: var(--cor-primaria-texto);
}

article h2 { /* h2 descendente de article */
    font-size: 1.5rem;
    font-weight: 600; /* demi-bold (quase negrito) */
    margin: 0 0 1rem 0;    
}

.autor {
    font-size: oblique;
    font-weight: 600;
    font-size: 80%;
}
.data {
    font-style: oblique;
    font-size: 80%;    

}
.continue-lendo {
    background-color: rgb(12, 12, 100);
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    
}
.continue-Lendo {
    background-color: rgb(12, 12, 100);
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;

    color: #fff;
    text-decoration: none;

}

article p {
    text-align: justify;
    /* demi-bold (quase negrito) */
    margin-bottom:  1rem;
    height: 150px;
    overflow: hidden; /*transbordamento: escondido*/
}


#apresentacao, #formacaoAcademica, #experienciaProfissional, #hardskills, #softSrill,
#idiomas {
    padding: 40px;
}
    /*acima digitado #apresentação para estilizar as seccoes do html*/


/* @TODO
1. estilizar as demais seçoes
2. estilizar elementos article
3. tirar as sombras dos textos
*/

article {
    width: 30%; /* 30% do pai (section id="tecnologias") */
    background-color:  rgb(220, 216, 212);
    padding: 2rem;


}

.competencia {
    background-color:  rgb(220, 216, 212);
    text-transform: uppercase; /* transforma o texto em maiuscula*/
    font-family: "Kanit", sans-serif;
    color: dimgray;
    font-size: 2rem;
    margin: 1rem;
    padding: 1 rem;
    border: 0rem;
    padding: 1rem;
}

.idiomas {
    background-color:  rgb(220, 216, 212);
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    font-family: "Anta" , sans-serif;
    color: dimgray;
    font-size: 2rem;
    margin: 1rem;
    padding: 1 rem;
    border: 0rem;
    padding: 1rem;


}

