
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&display=swap');




/* Alguns valores de propriedades não tem unidade de medida.
Exemplo: line-height, aspect-ratio, font-weight*/

* {
    margin: 0;
    padding: 0;
    border: nome;
    box-sizing: border-box; /* box-sizing: como o css calcula o tamanho dos elementos */

}

:root { /* root-> elemento raiz (html), mais alta hierarquia*/
    font-size: 16px; /* tamanho da base do rem*/
    scroll-behavior: smooth; /* comportamento da rolagem: suave*/
    --cor-primaria-texto: #14b168;
     --padding-padrao-secao: 40px;
    --cor-fundo-tags: #db8181;

    /*Tema: light */


}

[ data-tema="dark"] {
    --plano-fundo: #353535;
    --cor-primaria-texto: #0e0101;
    --cor-fundo-tags: #788094;
    --cor-fundo-apresentacao: #7f7ae8;
    --cor-fundo-formacaoAcademica: #7f7a95;
    --cor-fundo-academia: #caf6ca;
    --cor-fundo-experienciaProfissional: #fff890;
    --cor-fundo-hardskill: #f7c7dc;
    --cor-fundo-soft-Skill: #7eafab;
    --cor-fundo-idiomas: #a586a5;
    --cor-fundo-destaques: #e29191;
    --cor-fundo-tecnologias: #3e3ec3;

    
}

    
[data-tema="light"] {
    --plano-fundo: #4216e0;
    --cor-primaria-texto: #181111;
    --cor-fundo-tags: #424457;
    --cor-fundo-apresentacao: #7f7447;
    --cor-fundo-formacaoAcademica: #54449b;
    --cor-fundo-academia: #2d6635;
    --cor-fundo-experienciaProfissional: #f23b3b;
    --cor-fundo-competenciaTecnica: #c65c10;
    --cor-fundo-softskill: #b3319f;
    --cor-fundo-idiomas: #68623d;
    --cor-fundo-destaques: #752626;
    --cor-fundo-tecnologias: #6d9e1e;


}



body {
    background-color:  #375849;
    width: 80vw; /* 80% da viewport width*/
    margin: auto; /* criar margem automatica*/
    font-size: 20px; /*o padrao é 16px*/
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #375849;
    border: 2px solid #3e3ec3 ;
    background-color: var(--cor-fundo);
    color: var(--cor-fundo-texto);



}

.nome-curriculo { 
    
    font-family: "Anta", sans-serif;
    font-size: 3rem;
    margin: 2rem 1rem 3rem 4rem; /*shorthand*/    
    color: var (--cor-primaria-texto)
    text-align: center;

}

heder {
    text-align: center;
    top: 25px;
    padding: 10px;

}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;


}
section {
    padding: 40px 0;
    /* prenchimento [interno] */
}

section p {
    color: var(--cor-primaria-texto);
}

#apresentacao {
    background-color: #4f2b7902;
    background-color: var(--cor-fundo-apresentacao); 


}
#formacaoAcademica {
    background-color: #7f7a95;
    background-color: var(--cor-fundo-formacaoAcademica);
}


p {
    line-height: 1,5; /*altura da linha: 1,5x o tamanho padrão*/
    margin: 1rem 0; /* valores: coma-baixo esquerda-direita*/
    
}
h2 {
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    font-weight: 200;
    color: var(--cor-primaria-texto);
    /* text-shadow: 1px 1px 2px dimgray; */
    font-size: 1.5rem;
    margin: 1rem 0;
    

    footer {
        text-align: center;
    }
    
   

}

.lista-tags li {
    display: inline-block;
    background-color: var(--cor-fundo-tags);
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    color: var(--cor-primaria-texto);
}

#experienciaProfissional {
    background-color:  rgb(138, 81, 23);
    width: 80vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 1rem;
    margin: 0rem; /*shorthand*/
    font-weight: 40;
    display: flex;
    color: var(--cor-primaria-texto);
}

#tecnologias {
    display: flex; /* exixte varias caixa flexivel */
justify-content: space-between; /* alinha o conteúdo no eixo principal */

}
/* Combinadores*/

article h1 { /* h1 descendente de article */
    font-size: 2rem;
    font-weight: bold; /* bold = 700 */
    margin: 0 0 1rem 0;
    color: var(--cor-primaria-texto);
}

article h2 { /* h2 descendente de article */
    font-size: 1.5rem;
    font-weight: 600; /* demi-bold (quase negrito) */
    margin: 0 0 1rem 0;  
    color: var(--cor-primaria-texto);  
}

.autor {
    font-size: oblique;
    font-weight: 900;
    font-size: 90%;
}
.data {
    font-style: oblique;
    font-size: 80%;    

}
.continue-lendo {
    background-color: rgb(71, 71, 206);
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    color: #120b7a;
    text-decoration: none;
    
}
.continue-Lendo {
    background-color: rgb(71, 71, 206);
    padding: .5rem 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}

article p {
    text-align: justify;
    /* demi-bold (quase negrito) */
    margin-bottom:  1rem;
    height: 150px;
    overflow: hidden; /*transbordamento: escondido*/
}


#apresentacao, #formacaoAcademica, #experienciaProfissional, #hardskills, #soft-Srill,
#idiomas, #destaques, #tecnoligias {
    padding: 40px;
}
    /*acima digitado #apresentação para estilizar as seccoes do html*/


/* @TODO
1. estilizar as demais seçoes
2. estilizar elementos article
3. tirar as sombras dos textos
*/

article {
    width: 30%; /* 30% do pai (section id="tecnologias") */
    background-color: var(--cor-fundo-tags);
    padding: 2rem;
    background-color: #cecece;

}

#idiomas {    
    background-color:  rgb(117, 138, 23);
    width: 80vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 1rem;
    margin: 0rem; /*shorthand*/
    font-weight: 40;
    display: flex;
    color: var(--cor-primaria-texto);

}

#soft-skill {   
    background-color:  rgb(138, 81, 23);
    width: 80vw; /* 80% da viewport width*/ 
    font-family: "Anta", sans-serif;
    font-size: 2rem;
    margin: 0rem; /*shorthand*/
    font-weight: 40;
    display: flex;
    color: var(--cor-primaria-texto);
}



#hardskill {
    background-color: #d2d8dd;
    background-color: var(--cor-fundo-hardskill);
}
#destaques {
    background-color: #14e241;
    background-color: var(--cor-fundo-destaques);
}